.app-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main-layout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 200px;
  height: 100%;
  position: relative;
}

.page-content{
    padding: 18px 16px;
    margin-top: 45px;
     
    /* for scrolling */
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

/* for-scrolloing */
.page-content app-info,
.page-content app-tabs {
  flex-shrink: 0;   /* they keep their natural height and never scroll away */
}

.panels {
  display: grid;
  grid-template-columns: 7fr 3fr;   /* or 70% 30% */
  gap: 16px;
  align-items: start;   /* important: see below */
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 0;
}

.panels::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1024px){
  .panels{
    grid-template-columns: 1fr;
  }
}

.left-panel, .right-panel {
  display: flex;
  flex-direction: column;
  gap: 18px;
  flex: 1;
  min-width: 0;
}

@media screen and (max-width: 768px) {
  app-sidebar{
    display: none;
  }

  app-header{
    left: 0;
    width: 100vw;
  }

  .page-content{
    left: 0;
    width: 100vw;
  }
}