.app-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main-layout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 200px; 
  height: 100%;
  position: relative;
}

.page-content{
    padding: 18px 16px;
    margin-top: 45px;
}