<div class="sidebar">
   <div class="side-head">
    <div class="left-side-head">
     <span class="logo" >
        <mat-icon>mail-outline</mat-icon>
     </span>

     <span class="brand-text">Zaga</span>
    </div>
    
    <button mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
   </div>
    
   <div class="btn-search">
    <button matButton="elevated">
        <mat-icon>add</mat-icon>
        New Project
    </button>
    <label class="search">
        <mat-icon>search</mat-icon>
        <input type="search" placeholder="Search...">
        <kbd>⌘K</kbd>
    </label>
   </div>

   <div class="main-menu">
    <span class="mm-head">Main Menu</span>

     @for(l of lists; track l.title){
        <div class="side-item" [class.open]="isOpen(l)" (click)="toggle(l)">
            <mat-icon class="m-ic"> {{l.icon}} </mat-icon>
            <span class="m-title"> {{l.title}} </span>
            @if(l.icon2){
                <mat-icon class="m-ic2"> {{l.icon2}} </mat-icon>
            }
        </div>

        @if(l.children?.length && isOpen(l)) {
            <div class="sub-menu">
                @for(c of l.children; track c.title){
                    <div class="side-item sub-item">
                        <mat-icon class="m-ic"> {{c.icon}} </mat-icon>
                        <span class="m-title"> {{c.title}} </span>
                    </div>
                }
            </div>
        }
     }
   </div>

   <div class="projects">
        <span class="p-head">Projects</span>

        @for(p of pros; track p.ptitle){
        <div class="p-item">
            <span class="p-icon" [style.--bg-color]="p.bg" >
                <mat-icon [style.--color]="p.col"> {{p.micon}} </mat-icon>
            </span>
            <span class="p-title"> {{p.ptitle}} </span>
        </div>
        }
        
   </div>

   <div class="profile">
        <span class="avatar"> <mat-icon>person</mat-icon></span>
        <span class="pro-stack">
            <span class="p-name">Jimmy Yadav</span>
            <span class="p-desig">Project Manager</span>
        </span>
        <mat-icon class="p-ic">keyboard_arrow_down</mat-icon>
   </div>

</div>
