.team{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    border: 1px solid #0f172a12;
    border-radius: 12px;
    padding: 12px 18px;
    gap: 14px;
    box-shadow: 5px 5px 12px #0f172a12, -5 5 12px #0f172a12;

}

.t-head{
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
}

.head-stack{
    display: flex;
    flex-direction: column;
}

.title{
    color: black;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.02em;
}

.sub-title{
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #6b6b6b;
}

.t-head button{
    border: none;
    background: none;
    font-weight: 500;
    font-size: 22px;
}

.t-list{
    display: flex;
    flex-direction: column;
}

.t-inbox{
    display: flex;
    gap: 12px;
    align-items: center;
    padding-bottom: 6px;
    margin-bottom: 6px;
    justify-content: space-between;
    border-bottom: 1px solid #0f172a12;
}

.t-inbox:last-child{
    border-bottom: none;
    margin-bottom: 0;
}

.t-info{
    display: flex;
    flex-direction: column;
}

.avatar{
    display: grid;
    background: rgb(238, 238, 238);
    border-radius: 50%;
    width: 22px;
    height: 22px;
    place-items: center;
    flex-shrink: 0;
    background: rgb(247, 208, 214);
    color: rgb(240, 8, 47);
}

.avatar mat-icon{
    width: 16px;
    height: 16px;
    font-size: 16px;
}

.name{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.desig{
    font-size: 12px;
    color: #6b6b6b;
}

.wrap{
    display: flex;
    align-items: center;
    gap: 12px;
}

.perc{
    font-size: 12px;
    color: #6b6b6b;
    letter-spacing: 0.02em;
    font-weight: 500;
}